
a{text-decoration: none;}
.card-content{
    background-color:#fffbdf
}
.price{
    font-size: 23px;
    font-weight: bold;
}
.small {
    font-size: 13px;
    line-height: 12px;
    font-weight: 400;
    color: #8993A4;
    display: block;
    text-align: left;
}
.small-btn button{
    border:none;
    outline:none;
    font-size: 13px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    font-weight: 500;
}
.small-btn button:first-child{
    background:#F5E7F6;
}
.icon i{
    color:rgb(71, 71, 71);
    margin-right: 5px;
}
.card-footer{
    background-color:#fff;
}
@media (min-width: 768px){
    .custome-card img{
        width: 20%;
        margin-right: 20px;
    }
    .w-md-25{
        width: 25%;
    }
    .w-md-75{
        width: 75%;
    }
}
@media (max-width: 1000px){
    .row-basis{
        display: block !important;
    }
}
.read_more_btn{
    cursor: pointer;
    outline:none;
    border:none;background:transparent;
    color: #007bff;
    font-weight: 500;
}
.read_more_btn::after{
    content: "...";
}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
#more6 {display: none;}
#more7 {display: none;}